<section id="advantages" class="section advantages_section">
  <div class="container">
    <div class="titleWrapper">
      <span class="titleStroke">Advantages</span>
      <h2 class="title">Advantages</h2>
    </div>
    <div class="swiper advantages-swiper">
      <ul class="advantages-list swiper-wrapper">
        <li class="advantages-item swiper-slide">
          <div class="advantages-list-item">
            <div class="bix">
              <span>1</span>
              <h3>Colorful Graphics</h3>
              <p>Enjoy vibrant and mouth-watering visuals</p>
            </div>
            <div class="bix">
              <span>2</span>
              <h3>Catchy Soundtrack</h3>
              <p>Play to the beat of an upbeat and cheerful soundtrack</p>
            </div>
          </div>
        </li>
        <li class="advantages-item swiper-slide">
          <div class="advantages-list-item">
            <div class="bix">
              <span>3</span>
              <h3>Addictive Gameplay</h3>
              <p>Easy to pick up, but challenging enough to keep you hooked</p>
            </div>
            <div class="bix">
              <span>4</span>
              <h3>Varied Levels</h3>
              <p>
                Explore hundreds of levels with different objectives and
                challenges
              </p>
            </div>
          </div>
        </li>
        <li class="advantages-item swiper-slide">
          <div class="advantages-list-item">
            <div class="bix">
              <span>5</span>
              <h3>Special Boosters</h3>
              <p>Unlock and use unique boosters to overcome tough levels</p>
            </div>
            <div class="bix">
              <span>6</span>
              <h3>Social Features</h3>
              <p>
                Compete with friends and share your achievements on social media
              </p>
            </div>
          </div>
        </li>
        <li class="advantages-item swiper-slide">
          <div class="advantages-list-item">
            <div class="bix">
              <span>7</span>
              <h3>Free to Play</h3>
              <p>Enjoy the game for free with optional in-app purchases</p>
            </div>
            <div class="bix">
              <span>8</span>
              <h3>Regular Updates</h3>
              <p>
                Experience new levels, events, and content with frequent updates
              </p>
            </div>
          </div>
        </li>
      </ul>

      <div class="reviews-arrow">
        <div class="advantages-swiper-button-prev reviews-btn-accent">
          <svg class="reviews-icon reviews-icon-prev" width="24" height="24">
            <use href="./img/icons/icons.svg#arrow"></use>
          </svg>
        </div>

        <div class="advantages-swiper-button-next reviews-btn-accent">
          <svg class="reviews-icon reviews-icon-next" width="24" height="24">
            <use href="./img/icons/icons.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
    <!-- #region Desktop -->
    <ul class="advantages-desktop-list">
      <li class="bix">
        <span>1</span>
        <h3>Colorful Graphics</h3>
        <p>Enjoy vibrant and mouth-watering visuals</p>
      </li>
      <li class="bix">
        <span>2</span>
        <h3>Catchy Soundtrack</h3>
        <p>Play to the beat of an upbeat and cheerful soundtrack</p>
      </li>
      <li class="bix">
        <span>3</span>
        <h3>Addictive Gameplay</h3>
        <p>Easy to pick up, but challenging enough to keep you hooked</p>
      </li>
      <li class="bix">
        <span>4</span>
        <h3>Varied Levels</h3>
        <p>
          Explore hundreds of levels with different objectives and challenges
        </p>
      </li>
      <li class="bix">
        <span>5</span>
        <h3>Special Boosters</h3>
        <p>Unlock and use unique boosters to overcome tough levels</p>
      </li>
      <li class="bix">
        <span>6</span>
        <h3>Social Features</h3>
        <p>Compete with friends and share your achievements on social media</p>
      </li>
      <li class="bix">
        <span>7</span>
        <h3>Free to Play</h3>
        <p>Enjoy the game for free with optional in-app purchases</p>
      </li>
      <li class="bix">
        <span>8</span>
        <h3>Regular Updates</h3>
        <p>Experience new levels, events, and content with frequent updates</p>
      </li>
    </ul>
    <!-- #endregion Desktop -->
  </div>
</section>
