<section id="disclaimer" class="section disclaimer_section">
  <div class="container">
    <div class="titleWrapper">
      <span class="titleStroke">Disclaimer</span>
      <h2 class="title">Disclaimer</h2>
    </div>
    <p class="disclaimer-text">
      JOYCOOLRUSH.COM IS A PLATFORM FOR HAVING FUN. THE PROBABILITY OF WINNING
      PLAYING THIS GAME CANNOT BE CONSIDERED THE SAME AS WINNING IN REAL LIFE
      GAMES. GAME IS AVAILABLE TO ADULT AUDIENCES OVER 18 YEARS OF AGE. ENJOY
      PLAYING THIS GAME.
    </p>
  </div>
</section>
