<footer id="faq" class="section footer">
  <div class="container">
    <ul class="nav-list">
      <li class="nav-item">
        <a class="nav-link {=$highlight-act}" href="./privacy-policy-page.html"
          >Privacy Policy</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link {=$highlight-curr}"
          href="./terms-and-conditions.html"
          >Terms and conditions</a
        >
      </li>
    </ul>
    <p class="copyright">All rights reserved joycoolrush.com | 2024</p>
  </div>
</footer>
