<section id="gallery" class="section gallery">
  <div class="container">
    <div class="titleWrapper">
      <span class="titleStroke">Gallery</span>
      <h2 class="title">Gallery</h2>
    </div>

    <div class="swiper gallery-swiper">
      <ul class="gallery-list swiper-wrapper"></ul>

      <div class="reviews-arrow">
        <div class="gallery-swiper-button-prev reviews-btn-accent">
          <svg class="reviews-icon gallery-icon-prev" width="24" height="24">
            <use href="./img/icons/icons.svg#arrow"></use>
          </svg>
        </div>

        <div class="gallery-swiper-button-next reviews-btn-accent">
          <svg class="reviews-icon gallery-icon-next" width="24" height="24">
            <use href="./img/icons/icons.svg#arrow"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
