<header class="header">
  <div class="container">
    <a class="nav-logo" href="./index.html" aria-label="Site logo">
      <picture>
        <source
          media="(min-width: 768px)"
          srcset="./img/desktop_logo1x.png 1x, ./img/desktop_logo2x.png 2x"
          type="image/png"
        />

        <source
          media="(max-width: 767px)"
          srcset="./img/mobile_logo1x.png 1x, ./img/mobile_logo2x.png 2x"
          type="image/png"
        />
        <img
          src="./img/desktop_logo1x.png"
          alt="logo"
          class="logo"
          loading="lazy"
        />
      </picture>
    </a>
    <nav class="nav">
      <ul class="nav-list">
        <!-- <li class="nav-item">
          <a class="nav-link {=$highlight-act}" href="./page-2.html">Page 2</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {=$highlight-curr}" href="./page-3.html">Page 3</a>
        </li> -->
        <li class="nav-item"><a href="#review">review</a></li>
        <li class="nav-item"><a href="#about">about</a></li>
        <li class="nav-item"><a href="#gallery">gallery</a></li>
        <li class="nav-item">
          <a href="#advantages">advantages</a>
        </li>
        <li class="nav-item"><a href="#faq">faq</a></li>
      </ul>
    </nav>
    <span class="burgerNav">
      <svg class="burger" width="28" height="28">
        <use href="./img/icons/icons.svg#burger"></use></svg
    ></span>
  </div>
</header>
