.aboutList {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 40px;
  margin-bottom: 24px;
  @media only screen and (min-width: 768px) {
    font-size: 20px;
    gap: 10px;
  }
  @media only screen and (min-width: 1000px) {
    margin-bottom: 80px;
    gap: 60px;
  }
  @media only screen and (min-width: 1200px) {
    font-size: 32px;
    gap: 104px;
  }
}
.aboutItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  @media only screen and (min-width: 768px) {
    gap: 18px;
  }
  @media only screen and (min-width: 1000px) {
    flex-direction: row;
  }
  @media only screen and (min-width: 1200px) {
    flex-direction: row;
    gap: 104px;
  }
}
.aboutItem:nth-child(even) {
  @media only screen and (min-width: 1000px) {
    flex-direction: row-reverse;
  }
}

.aboutImg1 {
  box-shadow: 1px 1px 20px #dd32ff;
  border-radius: 24px;
  width: 90vw;
  @media only screen and (min-width: 1000px) {
    width: 28vw;
    max-width: 400px;
  }
  @media only screen and (min-width: 1200px) {
    width: 522px;
    max-width: 522px;
  }
}

.aboutImg2 {
  box-shadow: 1px 1px 20px #dd32ff;
  border-radius: 24px;
  width: 90vw;
  @media only screen and (min-width: 1000px) {
    width: 28vw;
    max-width: 400px;
  }
  @media only screen and (min-width: 1200px) {
    width: 522px;
    max-width: 522px;
  }
}

.aboutImg3 {
  box-shadow: 1px 1px 20px #dd32ff;
  border-radius: 24px;
  width: 90vw;
  @media only screen and (min-width: 1000px) {
    width: 28vw;
    max-width: 400px;
  }
  @media only screen and (min-width: 1200px) {
    width: 502px;
    max-width: 502px;
  }
}

.after-about {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #fff;
  margin-bottom: 56px !important;
  @media only screen and (min-width: 768px) {
    font-size: 28px;
  }
  @media only screen and (min-width: 1200px) {
    width: 80%;
    margin: 0 auto;
    font-size: 40px;
    margin-bottom: 104px !important;
  }
}
