.advantages-swiper {
  @media screen and (min-width: 1000px) {
    display: none !important;
  }
}

.advantages_section .container {
  & .titleWrapper {
    margin-bottom: 0;
  }
  margin-bottom: 50px;
}

.advantages-list {
  margin-bottom: 32px;
}

.advantages-desktop-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 62px;
  row-gap: 44px;
  @media screen and (max-width: 1199px) {
    row-gap: 60px;
  }
  & .bix:nth-child(even) {
    margin-top: 62px;
  }

  & .bix {
    /* box-shadow: 1px 1px 15px #dd32ff; */
    width: calc(100% / 4 - 20px);
    height: 293px;
    padding-top: 54px;
    @media screen and (max-width: 1199px) {
      padding-top: 38px;
      height: 260px;
    }
    & h3 {
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 32px;
      @media screen and (max-width: 1199px) {
        font-size: 18px;
        margin-bottom: 16px;
      }
    }
    & p {
      font-weight: 400;
      font-size: 24px;
      @media screen and (max-width: 1199px) {
        font-size: 16px;
      }
    }
    & span {
      width: 80px;
      height: 80px;
      top: -40px;
      font-size: 40px;
      @media screen and (max-width: 1199px) {
        width: 60px;
        height: 60px;
        top: -30px;
        font-size: 30px;
      }
    }
  }
  @media screen and (max-width: 999px) {
    display: none;
  }
}
.advantages-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.advantages-item {
  padding-top: 54px;
}

.bix {
  /* box-shadow: 1px 1px 15px #dd32ff; */
  position: relative;
  border-radius: 8px;
  padding: 32px 20px 10px;
  width: 100%;
  height: 154px;
  background: linear-gradient(90deg, #e7dcff 0%, #f3edff 100%);
  @media screen and (min-width: 768px) {
    width: 80%;
  }
  & h3 {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #020202;
    margin-bottom: 16px;
  }
  & p {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: #020202;
  }
  & span {
    position: absolute;
    top: -24px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 24px;

    border-radius: 50px;
    width: 48px;
    height: 48px;

    background: #885bee;
    /* box-shadow: inset 4px 4px 8px #6a019a53, inset -4px -4px 8px #980dee53; */
  }
}
