.titleWrapper {
  position: relative;
}
.mainTitleStroke {
  font-weight: 400;
  font-size: 96px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 16px #a34e13;
}
.mainTitle {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 1;

  font-weight: 400;
  font-size: 96px;
  background: linear-gradient(
    180deg,
    #ffe18f 0%,
    #fcbf17 34.5%,
    #fcbf17 72.5%,
    #ffe18f 100%
  );
  background: linear-gradient(
    180deg,
    #ffe18f 0%,
    #fcbf17 34.5%,
    #fcbf17 72.5%,
    #ffe18f 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.titleStroke {
  font-weight: 400;
  font-size: 96px;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 16px #a34e13;
  font-size: 80px;
}

.title {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;

  font-weight: 400;
  font-size: 96px;
  background: linear-gradient(
    180deg,
    #ffe18f 0%,
    #fcbf17 34.5%,
    #fcbf17 68.5%,
    #ffe18f 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 80px;
}
