.titleWrapper {
  position: relative;
  width: auto;
  display: flex;
  justify-content: center;
  @media only screen and (min-width: 768px) {
  }
}
.mainTitleStroke {
  z-index: 2;
  font-weight: 400;
  text-align: center;
  font-size: 32px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 8px #a34e13;
  @media only screen and (min-width: 768px) {
    -webkit-text-stroke: 16px #a34e13;
    font-size: 96px;
    text-align: start;
    padding-top: 10px;
    margin-bottom: 64px;
  }
}
.mainTitle {
  position: absolute;
  top: 0;
  left: 0;
  left: 50%;
  z-index: 3;
  transform: translate(-50%);
  text-wrap: nowrap;
  text-align: center;
  font-weight: 400;
  font-size: 32px;
  background: linear-gradient(
    180deg,
    #ffe18f 0%,
    #fcbf17 34.5%,
    #fcbf17 72.5%,
    #ffe18f 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media only screen and (min-width: 768px) {
    padding-top: 10px;

    text-align: start;
    font-size: 96px;
  }
}
.titleStroke {
  z-index: 2;
  font-weight: 400;
  font-size: 24px;
  position: relative;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 8px #a34e13;

  @media only screen and (min-width: 768px) {
    -webkit-text-stroke: 16px #a34e13;
    font-size: 80px;
  }
}

.title {
  display: flex;
  text-wrap: nowrap;
  z-index: 3;
  position: absolute;
  transform: translateX(-50%);
  top: 0;
  left: 50%;

  font-weight: 400;
  font-size: 24px;
  background: linear-gradient(
    180deg,
    #ffe18f 0%,
    #fcbf17 34.5%,
    #fcbf17 68.5%,
    #ffe18f 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  @media only screen and (min-width: 768px) {
    font-size: 80px;
  }
}
