.footer {
  position: relative;
  @media only screen and (min-width: 1200px) {
  }
}
.footer-desc {
}
.footer-link {
}
.footer .nav-list {
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.12;
  color: #e7e7e7;
  text-wrap: nowrap;
  gap: 20px;
  margin-bottom: 24px;

  @media only screen and (min-width: 768px) {
    padding-bottom: 80px;
  }
  @media only screen and (min-width: 1000px) {
  }
  @media only screen and (min-width: 1200px) {
    justify-content: end;
    padding-bottom: 100px;
  }
}
.footer .copyright {
  @media only screen and (min-width: 768px) {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
  }
  @media only screen and (min-width: 1000px) {
  }
  @media only screen and (min-width: 1200px) {
    top: 16px;
    left: 50%;
  }
}
