.header > .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 0px;

  @media only screen and (min-width: 1000px) {
    height: 120px;
    padding: 56px 16px 46px;
    /* padding-top: 54px; */
  }
}
.header {
  position: fixed;
  z-index: 999;
  background: linear-gradient(180deg, #ab5a87 0%, #c78aac 100%);
  /* background: #ab5a87; */
  width: 100vw;
  box-shadow: 2px 1px 60px #dd32ff;
}
.nav-logo {
  margin-right: auto;
  padding-top: 8px;
  @media only screen and (min-width: 768px) {
    /* padding-top: 54px; */
    padding-top: 0px;
  }
}
.logo {
  width: 104px;
  @media only screen and (min-width: 768px) {
    width: 194px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 767px) {
    display: none;
  }
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 40px;
}
.nav-link {
  position: relative;
  display: block;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: 200ms ease-in;
  text-transform: capitalize;
}
.nav-link:hover,
.nav-link:focus {
  color: #5d008f;
}
.nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 110%;
  height: 4px;
  border-radius: 4px;
  transform-origin: center;
  animation: stretch 400ms cubic-bezier(0.68, -0.55, 0.27, 1.55) 200ms both;
}
.nav-link.active::after {
  background: #5d008f;
}

.nav-item {
  text-transform: capitalize;
}
.nav-item > a {
  padding: 16px 0;
}
.nav-item > a:hover {
  text-shadow: 2px 10px 60px #e53ac9;
}
.burgerNav {
  border: none;
  background: transparent;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.burger {
  stroke: rgb(255, 255, 255);
  margin-right: 12px;
}

.menu {
  z-index: 999;
}

.mobile_menu_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  background: linear-gradient(180deg, #ab5a87 0%, #c78aac 100%);

  transform: translateX(100%);
  transition: all 0.5s linear;
  @media only screen and (min-width: 768px) {
    display: none;
  }
}
.mobile_menu_box.active {
  transition: all 0.5s linear;
  transform: translateX(0);
}

.mobile_menu_close {
  position: absolute;
  top: 20px;
  right: 10px;
  border: none;
  background: transparent;
}
.mobile_menu_close:hover {
  text-shadow: 0px 5px 20px #ff00b7bf;
}

.mobile_menu_list {
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.mobile_menu_item {
  font-size: 24px;
  text-transform: capitalize;
}
.mobile_menu_item:hover {
  text-shadow: 0px 5px 20px #ff00b7bf;
}
